@import url('./reset.css');


@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  background-color: rgb(36, 32, 29);
  z-index: 6;
  position: absolute;
  z-index: 6;
  left: 0;
  right: 0;
}
.header .container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;
}
.header .container .header__inner {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__inner .logo {
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  display: flex;
  flex-direction: column;
}
.header .container .header__inner .logo:hover {
  border: 2px solid #dba337;
  border-radius: 50%;
  color: #dba337;
  display: flex;
  flex-direction: column;
}
.header .container .header__inner .logo .borderlogo {
  width: 100px;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header .container .header__inner .menu .menu__list {
  display: flex;
  flex-direction: row;
  color: #fff;
}
.header .container .header__inner .menu .menu__list .menu__list-item {
  padding: 10px 20px;
  text-align: center;
}
.header .container .header__inner .menu .menu__list .menu__list-link {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.header .container .header__inner .menu .menu__list .menu__list-link:hover {
  color: #dba337;
}

.open {
  display: flex !important;
}

.close {
  visibility: hidden !important;
}

.burger {
  justify-self: center;
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: end;
  width: 30px;
  height: 18px;
  cursor: pointer;
}
.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #fff;
}

.burger::before {
  content: "";
  top: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

.burger::after {
  content: "";
  bottom: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (min-width: 701px) {
  .burger {
    display: none;
  }
}
@media (max-width: 700px) {
  .burger {
    display: flex;
    justify-self: end;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    height: 310px;
    width: 100%;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow-y: auto;
    background-color: rgb(36, 32, 29);
    animation: burgerAnimation 0.4s;
  }
  .menu .menu__list {
    flex-direction: column !important;
    justify-content: center;
  }
  .menu .menu__list li {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
} 

.main--container{
    /* display: flex; */
    /* flex-grow: 1; */
}

.wrapper{
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 1050px; */
    /* row-gap: 10px; */
    width: 100%;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  width: 100%;
  max-width: 90%; 
  justify-content: center;
  justify-items: center; 
  column-gap: 30px;
  row-gap: 40px; 
  margin: 60px auto;
}

.card__link{
    width: 350px;
    overflow: hidden;
    transition: 0.2s;
}

.card {
    width: 350px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.2s;
    position: relative;
}

.card:hover {
	box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
}

.card__top {
	flex: 0 0 220px;
	position: relative;
	overflow: hidden;
}

.card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__image > img {
	width: 100%;
	height: 100%;
	/* object-fit: contain; */
	transition: 0.2s;
}

.card__image:hover > img {
	transform: scale(1.1);
}

/* .card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #ff6633;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
} */

.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
}

.card__bottom .card__adress{
  font-size: 14px;
  color: gray;
  line-height: 40px;
}

.card__prices {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 10px;
}

.card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
}

.card__title {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #414141;
}

.card__title:hover {
    color: #dba337;
}

.card__add {
    display: block;
    width: 100%;
    line-height: 30px;
    font-weight: 400;
    font-size: 17px;
    color: #dba337;
    text-align: center;
    border: 1px solid rgb(36, 32, 29);
    border-radius: 4px;
    cursor: pointer; 
    transition: 0.2s;
    margin-top: auto;
}

.card__add:hover, .card__add.active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #dba337;
    color: #fff;
}

.show-cards{
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #dba337;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.show-cards:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(36, 32, 29);
}

.basket{
  
    position: absolute;
    top: 200px;
    right: 20px;
}

.basket__inner{
    position: relative;
}

.basket__count{
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background-color: #dba337;
    color: white;
    padding: 3px;
    text-align: center;
    min-width: 25px;
}

.home{
    position: absolute;
    top: 198px;
    left: 20px;
}





.footer .container__footer {
    background-color: rgb(36, 32, 29);
  }
  .footer .container__footer .flex__container {
    color: #fff;
    max-width: 1220px;
    padding: 20px 10px 20px;
    margin: 0 auto;
  }
  .footer .container__footer .flex__container .flex__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer .container__footer .flex__container .flex__footer .flex1 {
    padding: 0 15px 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex1 .text__flex1 .text {
    font-size: 22px;
    color: #dba337;
  }
  .footer .container__footer .flex__container .flex__footer .flex1 .text__flex1 .list li {
    margin-top: 15px;
  }
  .footer .container__footer .flex__container .flex__footer .flex1 .text__flex1 .list li:hover {
    color: #dba337;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 {
    padding: 0 15px 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .text__flex2 {
    margin-bottom: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .text__flex2 .text {
    font-size: 22px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info li {
    margin-bottom: 10px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .tel::before {
    content: "\f232";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .tel:hover::before {
    content: "\f232";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .tel:hover {
    color: #128C7E;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .adress::before {
    content: "\f124";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .adress:hover::before {
    content: "\f124";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .adress:hover {
    color: #cd1b1b;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .email::before {
    content: "@";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .email:hover::before {
    content: "@";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .email:hover {
    color: #168de2;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .site::before {
    content: "\f0ac";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .site:hover::before {
    content: "\f0ac";
    font-family: FontAwesome;
    padding-right: 10px;
    font-size: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .info__flex2 .list__info .site:hover {
    color: #168de2;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .socialnet__flex2 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .socialnet__flex2 .fcb::before {
    content: "\f09a";
    font-family: FontAwesome;
    font-size: 32px;
    line-height: 40px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .socialnet__flex2 .fcb:hover::before {
    content: "\f09a";
    font-family: FontAwesome;
    font-size: 32px;
    color: #3b5998;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .socialnet__flex2 .vk::before {
    content: "\f189";
    font-family: FontAwesome;
    font-size: 32px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .socialnet__flex2 .vk:hover::before {
    content: "\f189";
    font-family: FontAwesome;
    font-size: 32px;
    color: #4c75a3;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .socialnet__flex2 .inst::before {
    content: "\f16d";
    font-family: FontAwesome;
    font-size: 32px;
  }
  .footer .container__footer .flex__container .flex__footer .flex2 .socialnet__flex2 .inst:hover::before {
    content: "\f16d";
    font-family: FontAwesome;
    font-size: 32px;
    color: #8134af;
  }
  .footer .container__footer .flex__container .flex__footer .flex3 .text__flex3 {
    margin-bottom: 20px;
  }
  .footer .container__footer .flex__container .flex__footer .flex3 .text__flex3 .text {
    font-size: 22px;
  }
  .footer .container__footer .flex__container .flex__footer .flex3 .form__flex3 form{
    display: flex;
    flex-direction: column;
  }
  .footer .container__footer .flex__container .flex__footer .flex3 .form__flex3 input{
    border-radius: 5px;
    line-height: 42px;
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px;
    padding: 0 12px;
  }
  .footer .container__footer .flex__container .flex__footer .flex3 .button__flex3 {
    margin-top: 10px;
  }
  .footer .container__footer .flex__container .flex__footer .flex3 .form__flex3 button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #dba337;
  }/*# sourceMappingURL=catalog.css.map */